.body1 {
    background-image: url(./_.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.body2 {
    background-image: url(./body2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
