.body1 {
    background-image: url(./_.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.body2 {
    background-image: url(./body2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.body3 {
    background-image: url(./beatopia.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.body4 {
    background-image: url(./body4.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.ig {
    size-adjust: 60%;
    float: left;
    width: 40%;
     background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.X {
    size-adjust: 60%;
    float: left;
    width: 40%;
     background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.spotify {
    size-adjust: 60%;
    float: left;
    width: 40%;
     background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.youtube {
    size-adjust: 60%;
    float: left;
    width: 40%;
     background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}