.body1 {
    background-image: url(./_.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.body2 {
    background-image: url(./body2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.body3 {
    background-image: url(./beatopia.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.body4 {
    background-image: url(./body4.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.body5 {
    background-image: url(./beatopia\ laptop\ wallpaper\ ˚₊‧꒰ა\ ☆\ ໒꒱\ ‧₊˚.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.bar {
    background-color: rgb(234, 134, 157);
    padding: 50px;
    
    
}
.burger {
    background-color: rgb(244, 177, 192);
    display: inline-block;
    padding: 50px;
    position: sticky;
    top: 0;

    
}
.foto1 {
    float: right;
    size-adjust: 1024px;
}
#biografia {
    background-color: rgb(167, 240, 162);
    color: azure;
    text-align: center;
}
.ig {
    size-adjust: 60%;
    float: left;
    width: 40%;
    display: flex;
     background-color: rgb(252, 190, 236);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(135, 196, 141);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(135, 196, 141);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(135, 196, 141);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(135, 196, 141);
}
.X {
   size-adjust: 60%;
    float: right;
    width: 40%;
    display: flex;
     background-color: rgb(252, 190, 236);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(135, 196, 141);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(135, 196, 141);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(135, 196, 141);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(135, 196, 141);
}
.spotify {
   size-adjust: 60%;
    float: left;
    width: 40%;
    display: flex;
     background-color: rgb(252, 190, 236);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(135, 196, 141);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(135, 196, 141);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(135, 196, 141);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(135, 196, 141);
}
.youtube {
    size-adjust: 60%;
    float: right;
    width: 40%;
    display: flex;
     background-color: rgb(252, 190, 236);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(189, 242, 194);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(189, 242, 194);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(189, 242, 194);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(189, 242, 194);
}
.sororo {
    size-adjust: 60%;
    float: left;
    width: 40%;
    display: flex;
     background-color: rgb(252, 190, 236);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(135, 196, 141);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(135, 196, 141);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(135, 196, 141);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(135, 196, 141);
}